In [1]:
import pandas as pd

In [10]:
s = pd.Series([1,4,5,7,10,6,4])
s

0     1
1     4
2     5
3     7
4    10
5     6
6     4
dtype: int64

In [11]:
s.describe()

count     7.000000
mean      5.285714
std       2.811541
min       1.000000
25%       4.000000
50%       5.000000
75%       6.500000
max      10.000000
dtype: float64

In [12]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [9]:
s2=pd.Series([11,5,8])

In [13]:
s = s.append(s2)

In [22]:
df['idade']

0    21
1    23
2    20
Name: idade, dtype: int64

In [24]:
df.iloc[1]

nome     Joao
idade      23
Name: 1, dtype: object